@keyframes ball{
    15% {
        width: 185px;
        transform: translate(-50%, 110px);
    }
    100%{
        width: 88px;
        transform: translate(-50%, -161px);
    }
}

@keyframes machine {
    0%{
        left: 20px;
    }
    100%{
        left: calc(100% + 20px);
    }
}

@keyframes moveSlideshow {
    0% {
    transform: translateX(-80.5%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes hvr-back-pulse {
    50% {
        opacity: 0.8;
    }
}